.idea/
cmake*
logs/
build/
libs/
configs/

CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
private_*

app/CMakeFiles/
app/Makefile
app/CTestTestfile.cmake

src/Makefile
src/CMakeFiles/
src/CTestTestfile.cmake

test/CTestTestfile.cmake
test/Makefile
test/CMakeFiles/