# IDE settings
.vscode
.vs
.idea
.clang*

# Build related stuff
cmake*
.cmake*
build
CMakeFiles
CTestTestfile.cmake
__pycache__
.ipynb_checkpoints

# Environment set up
depthcam_dependencies
tray-ml
libs
launch_build.sh

# Logs
logs
*.log
rs-core-logs

# Data
data
Fulfil.Dispense/data

# Configuration
secret
configs
.pioneer_connection.yaml

# Temp doxygen disable
doxygen_config
html

scripts/env_setup/mongo*

node_modules/
Fulfil.CPPUtils/include/Fulfil.CPPUtils/build.h

# Local env file
.env