services:
    alloy:
        image: gcr.io/fulfil-web/grafana/alloy:v1.10.0
        container_name: alloy
        env_file: alloy/local.env
        ports:
          - "8777:8777" # Expose the Alloy UI port
        volumes:
          - "/home/fulfil/code/Fulfil.ComputerVision/alloy:/etc/alloy" # Mount Alloy configuration file
          - /var/run/docker.sock:/var/run/docker.sock:ro # Mount Docker socket for container discovery by loki.source.docker
          - /var/lib/docker/containers:/var/lib/docker/containers:ro
    depthcam:
        container_name: depthcam
        logging:
          driver: syslog
        build:
            dockerfile: Dispense.arm.Dockerfile
        network_mode: "host"
        command: "Fulfil.Dispense/app/main"
        device_cgroup_rules:
          - "c 81:* rmw"
          - "c 189:* rmw"
        working_dir: /home/fulfil/code/Fulfil.ComputerVision
        ports:
          - 9500:9500
          - 9501:9501
          - 9502:9502
          - 9503:9503
          - 9504:9504
          - 9505:9505
        volumes:
          - "/home/fulfil/data:/home/fulfil/data"
          - "./Fulfil.Dispense/configs:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/configs"
          - "./Fulfil.Dispense/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/data"
        env_file:
        - path: .env
          required: false
        restart: on-failure:5
        privileged: true
 
