services:
  fulfil_dc_api:
    image: fulfil_dc_api
    platform: linux/amd64
    # Once we get this working, we can remove this command and just use the app command in the CMD
    command: /bin/bash -c "while true; do sleep 30; done;"
    profiles:
      - noop

  # Dispense commands
  dispense_eval:
    build:
      dockerfile: Dispense.amd.Dockerfile
    command: "Fulfil.Dispense/build/app/eval fed all"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./data:/home/fulfil/data"
      - "./Fulfil.Dispense/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/data"
      - "./Fulfil.Dispense/configs:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/configs"
    env_file:
      - path: .env
        required: false
    profiles:
      - dispense_test
      - fed_test

  dispense_hotrun:
    build:
      dockerfile: Dispense.amd.Dockerfile
    command: >
      bash -c 'cd /home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense && 
      printf "\n\nYoure in a Dispense container with source linked to your host machine, run any of the following: \n\n" &&
      printf "Build Once: \n\tmake -j$(($(nproc)-1))\nBuild till broken: \n\twhile true; do make -j$(($(nproc)-1)) || break; sleep 1; done\nBuild forever: \n\twhile true; do make -j$(($(nproc)-1)); sleep 1; done\nRun Dispense: \n\t./build/app/main\n\n" && bash'
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    device_cgroup_rules:
      - "c 81:* rmw"
      - "c 189:* rmw"
    ports:
      - 9500:9500
      - 9501:9501
      - 9502:9502
      - 9503:9503
      - 9504:9504
      - 9505:9505
    volumes:
      - "./data:/home/fulfil/data"
      - "./Fulfil.Dispense/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/data"
      - "./Fulfil.Dispense/configs:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/configs"
      - "./Fulfil.Dispense/app:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/app"
      - "./Fulfil.Dispense/src:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/src"
      - "./Fulfil.Dispense/include:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/include"
      - "./Fulfil.Dispense/test:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/test"
      - "./Fulfil.DepthCam/app:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.DepthCam/app"
      - "./Fulfil.DepthCam/src:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.DepthCam/src"
      - "./Fulfil.DepthCam/include:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.DepthCam/include"
    privileged: true
    network_mode: host
    env_file:
      - path: .env
        required: false

  # TCS commands
  tcs_unit_test:
    build:
      dockerfile: TCS.Dockerfile
    command: "Fulfil.TCS/build/unit_test"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.TCS/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/data"
    env_file:
      - path: .env
        required: false
    profiles:
      - tcs_test

  tcs_int_test:
    build:
      dockerfile: TCS.Dockerfile
    command: "Fulfil.TCS/build/int_test"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.TCS/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/data"
    env_file:
      - path: .env
        required: false
    profiles:
      - tcs_test

  tcs:
    build:
      dockerfile: TCS.Dockerfile
    command: "Fulfil.TCS/build/tcs"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.TCS/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/data"
    environment:
      - "FACILITY_IDENTIFIER=local"
      - "CAMERAS=0:0000000000001"
      - "VIMBA_CAMERAS=fake:ClipOpener"
    env_file:
      - path: .env
        required: false
    profiles:
      - tcs

  tcs_hotrun:
    build:
      dockerfile: TCS.Dockerfile
    command: "bash -c 'cd /home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS && make && printf \"\n\nYoure in a TCS container with source linked to your host machine, use make or ./build/tcs\" && bash'"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.TCS/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/data"
      - "./Fulfil.TCS/src:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/src"
      - "./Fulfil.TCS/include:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/include"
      - "./Fulfil.TCS/test:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/test"
    environment:
      - "FACILITY_IDENTIFIER=local"
      - "CAMERAS=0:0000000000001"
      - "VIMBA_CAMERAS=fake:ClipOpener"
    env_file:
      - path: .env
        required: false
    profiles:
      - tcs

  # PBL commands
  pbl:
    build:
      dockerfile: TCS.Dockerfile
    command: "Fulfil.TCS/build/pbl"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.TCS/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.TCS/data"
    environment:
      - "FACILITY_IDENTIFIER=local"
      - "CAMERAS=0:0000000000001"
    env_file:
      - path: .env
        required: false
    profiles:
      - pbl

  # Repack commands
  repack_test:
    build:
      dockerfile: AlliedVision.Dockerfile
    command: "Fulfil.AlliedVision/build/test test ${REQ_ID}"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.AlliedVision/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.AlliedVision/data"
    env_file:
      - path: .env
        required: false
    profiles:
      - repack_test

  repack_download:
    build:
      dockerfile: AlliedVision.Dockerfile
    command: "python3 Fulfil.AlliedVision/scripts/repack_download_dataset.py"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.AlliedVision/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.AlliedVision/data"
    env_file:
      - path: .env
        required: false
    profiles:
      - repack_download

  repack_load_coco:
    build:
      dockerfile: AlliedVision.Dockerfile
    command: "python3 Fulfil.AlliedVision/scripts/coco/repack_generate_coco.py"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.AlliedVision/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.AlliedVision/data"
    network_mode: "host"
    env_file:
      - path: .env
        required: false
    profiles:
      - repack_load_coco

  repack_summarize:
    build:
      dockerfile: AlliedVision.Dockerfile
    command: "python3 Fulfil.AlliedVision/scripts/coco/repack_summarize.py"
    working_dir: /home/fulfil/code/Fulfil.ComputerVision
    volumes:
      - "./Fulfil.AlliedVision/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.AlliedVision/data"
    network_mode: "host"
    env_file:
      - path: .env
        required: false
    profiles:
      - repack_summarize
