services:
    depthcam:
        container_name: depthcam
        logging:
          driver: syslog
        build:
            dockerfile: Dispense.arm.Dockerfile
        #network_mode: "host"
        command: "Fulfil.Dispense/app/main"
        device_cgroup_rules:
          - "c 81:* rmw"
          - "c 189:* rmw"
        working_dir: /home/fulfil/code/Fulfil.ComputerVision
        ports:
          - 9500:9500
          - 9501:9501
          - 9502:9502
          - 9503:9503
          - 9504:9504
          - 9505:9505
        volumes:
          - "/home/fulfil/data:/home/fulfil/data"
          - "./Fulfil.Dispense/configs:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/configs"
          - "./Fulfil.Dispense/data:/home/fulfil/code/Fulfil.ComputerVision/Fulfil.Dispense/data"
        env_file:
        - path: .env
          required: false
        restart: on-failure:5
        privileged: true