.vscode
.idea
.clang*
!test/**/CMakeLists.txt
.cmake*
logs
*.log
build
libs
rs-core-logs
debug_scripts
depthcam_dependencies
private_*

Backup1120.tar.gz
configs.save.*
depthcam.backup.tar.gz

app/private_scratch_test.cpp
app/CMakeFiles/
app/Makefile
app/CTestTestfile.cmake

src/Makefile
src/CMakeFiles/
src/CTestTestfile.cmake

test/CTestTestfile.cmake
test/Makefile
test/CMakeFiles/

log/log1.txt
data