.vscode/
.idea/
cmake-*
libs/
scripts/local_mongo_data/
scripts/mongodata/
scripts/python_scripts/upload_env
scripts/python_scripts/__pycache__

CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile

app/CMakeFiles/
app/CTestTestfile.cmake
app/Makefile

src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile

test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile

build
*.code-workspace