[Unit]
Description=depthcam tmux session, will not restart on program exit, will on powercycle 


[Service]
Type=oneshot
User=fulfil
Group=fulfil
WorkingDirectory=/home/fulfil/code/Fulfil.Dispense
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s depthcam \; send-keys -t 0 "bash -c 'echo -e \"\n*******\" >> logs/camera_status.txt && date | tee -a logs/camera_status.txt && rs-fw-update -l | tee -a logs/camera_status.txt'" Enter \; send-keys -t 0 "./build/app/main" Enter 
ExecStop=/usr/bin/tmux kill-session -t depthcam
KillMode=none


[Install]
WantedBy=multi-user.target
