name: Build Dispense
on:
  push:
    paths:
    - Fulfil.Dispense/**
    - Fulfil.DepthCam/**
    - Fulfil.Fulfil.CPPUtils/**
    - Fulfil.Fulfil.MongoCpp/**
    - Dispens*.Dockerfile
    - .github/workflows/*-dispense.yml

env:
  ACTIONS_STEP_DEBUG: true
  _BRANCH_NAME: ${{ github.ref_name }}
  IMAGE_NAME: gcr.io/fulfil-web/cv-dispense
  NPM_GITHUB_TOKEN: ${{ secrets.NPM_GITHUB_TOKEN }}

jobs:
  build:
    name: Build Prod
    runs-on: ubuntu-latest
    steps:
      - name: Tweak ENV
        run: |
          CLEAN_BRANCH_NAME=${_BRANCH_NAME//\//_}
          echo "CLEAN_BRANCH_NAME: $CLEAN_BRANCH_NAME"
          echo "BRANCH_NAME=$CLEAN_BRANCH_NAME" >> $GITHUB_ENV
          echo BRANCH_NAME: ${BRANCH_NAME}, IMAGE_NAME: ${IMAGE_NAME}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v3

      - name: Login to GCP Registry (Production)
        uses: Fulfil0518/gcp-registry-login-action@v1
        with:
          endpoint: ${{ env.IMAGE_NAME }}
          service_key: ${{ secrets.CLOUD_PROD_SA }}

      - uses: docker/build-push-action@v5
        name: Build + Push
        with:
          build-args: |
            "NPM_GITHUB_TOKEN=${{ secrets.NPM_GITHUB_TOKEN }}"
          context: .
          file: Dispense.amd.Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}/${{ env.BRANCH_NAME }}:latest,${{ env.IMAGE_NAME }}/${{ env.BRANCH_NAME }}:${{github.sha}}
          cache-from: type=gha,ref=${{ env.BRANCH_NAME }}:latest,ref=main:latest
          cache-to: type=gha,mode=max
          # See: https://github.com/docker/buildx/issues/1533
          provenance: false
