name: Build and deploy CV Staging
on:
  schedule:
    - cron: '00 21 * * 4' # 4:00pm EDT, Thursday

env:
  ACTIONS_STEP_DEBUG: true
  APP_NAME: fulfil_dc_api
  STAGING_IMAGE_NAME: gcr.io/fulfil-web-staging-296222/fulfil_dc_api/${{ github.ref_name }}
  TARGET_ENV: staging

jobs:
  build:
    name: Build Staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Login to GCP Registry (Staging)
        uses: Fulfil0518/gcp-registry-login-action@v1
        env:
          CLOUD_STAGING_IMAGE_REGISTRY_SA: ${{ secrets.CLOUD_STAGING_IMAGE_REGISTRY_SA }}
          IMAGE_NAME: ${{ env.STAGING_IMAGE_NAME }}
        with:
          endpoint: ${{ env.IMAGE_NAME }}
          service_key: ${{ env.CLOUD_STAGING_IMAGE_REGISTRY_SA }}

      - name: Build Staging
        run: |
          cd Fulfil.Dispense
          make build LOCAL_DOCKER_IMAGE=${STAGING_IMAGE_NAME}
      - name: Tag image
        run: |
          cd Fulfil.Dispense
          make tag LOCAL_DOCKER_IMAGE=${STAGING_IMAGE_NAME} IMAGE_TAG=${GITHUB_SHA}

      - name: Push image to Staging
        run: |
          cd Fulfil.Dispense
          make push-staging DOCKER_IMAGE=${STAGING_IMAGE_NAME} IMAGE_TAG=${GITHUB_SHA}
